* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #0000;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #ffa206;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #aa6c01;
}

body{
    font-family: 'Cardo', arial;
    background-color: #000;
}

p{
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    color: rgb(173, 173, 173);
    font-size: 1em;
    line-height: 25px;
}

header{
    position: absolute;
    z-index: 9999;
    background-color: rgb(0, 0, 0);
    padding: 20px 100px;
    width: 100%;
}

header nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header nav .logo{
    z-index: 9999;
    color: #ffa206;
    font-size: 2em;
    font-weight: 700;
}

header nav ul{
    display: flex;
    justify-content: center;
    align-items: center;
}

header nav ul li{
    margin-left: 50px;
    list-style: none;
}

header nav ul li a{
    font-family: 'Roboto';
    text-decoration: none;
    color: rgb(175, 175, 175);
    transition: 1s;
}

header nav ul li a:hover {
    color: #fff;
}

header nav .menu-toggle{
    display: none;
}

.banner{
    position: relative;
    background-color: #000;
    background-image: url(../img/bg-1.jpg);
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100vh;
    transition: all 2s;
}


.banner::before{
    content: "";
    width: 100%;
    height: 100%;
    background-color: rgba(17, 17, 17, 0.61);
    position: absolute;
    z-index: 1;
}

.banner .content{
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: auto;
    color: #fff;
}

.banner .content h1{
    z-index: 9999;
    font-size: 5em;
    line-height: 75px;
    text-transform: capitalize;
    font-weight: 700;
}

.banner .content p{
    font-size: 1em;
    z-index: 999;
    margin-top: 25px;
}
.banner .content .btn{
    margin-top: 38px;
    z-index: 9999;
}

.banner .content .btn a{
    background-color: #ffa206;
    padding: 14px 30px;
    color: #fff;
    text-decoration: none;
    font-size: 1.3em;
    font-weight: 500;
    outline: none;
    transition:1.4s;
}

.banner .content .btn a:hover{
    background-color: #aa6c01;
}


section,
footer{
    padding: 40px 100px;
}

section .container,
footer .container {
    width: 100%;
    margin: 0 auto;
}

.title-text{
    margin: 0 auto;
    max-width: 500px;
    text-align: center;
}

.title-text h3{
    color: #ffa206;
    position: relative;
    font-size: 3em;
    margin-top: 30px;
    font-weight: 600;
}
.title-text h4{
    color: #ffa206;
    position: relative;
    font-size: 2em;
    margin-top: 30px;
    font-weight: 600;
    font-style: italic;
}

.title-text h3::before{
    content: '';
    position: absolute;
    width: 90px;
    height: 2px;
    left: 30px;
    display: block;
    z-index: -2;
    top: 50%;
    background-color: #ffa206; 
}
.title-text h3::after{
    content: '';
    position: absolute;
    width: 90px;
    z-index: -2;
    height: 2px;
    right: 30px;
    display: block;
    top: 50%;
    background-color: #ffa206; 
}

.title-text p{
    margin-top: 10px;
    margin-bottom: 35px;
}

.about .content-about{
    position: relative;
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
}

.about .content-about .col-50{
    width: 48%;
    position: relative;
}

.about .content-about .col-50 .img-box{
    width: 100%;
    height: 450px;
    overflow: hidden;
    background-size: cover;
    position: relative;
}

.about .content-about .col-50 .img-box img{
    width: 100%;
    height: 100%;
    background-size: cover;
    object-fit: cover;
}

.about .content-about .col-50 .p-1{
    color: #fff;
    width: 100%;
    height: 200px;
}

.about .content-about .col-50 .p-1 h3{
    font-size: 1.7em;
    font-weight: 600;
}

.about .content-about .col-50 .p-1:nth-child(2){
    margin-top: 30px;
}

.about .content-about .col-50 .p-1 p{
    margin-top: 20px;
}

hr{
    margin: 150px;
    border:none;
    border-top: .5px solid rgb(85, 53, 53);
}


.gallery .content-gallery{
    width: 100%;
    /* overflow: hidden; */
    color: #fff;
    margin: 0 auto;
    gap: 10px;
    display: grid;
    place-content: center;
    place-items: center;
    grid-template-areas:
        "wedding wedding model"
        "travel product product";
    grid-template-columns: .5fr .5fr .5fr;
    grid-template-rows: .5fr .5fr;
}

.gallery .content-gallery .wedding{
    grid-area: wedding;
    width: 100%;
    /* width: 963px; */
    height: 324px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    place-items: left;
    background-size: cover;
    background-position: center;
    /* width: 720px;
    height: 324px; */
    background-image: url(../img/gallery-1.jpg);
}
.gallery .content-gallery .model{
    grid-area: model;
    width: 100%;

    /* width: 352px; */
    height: 324px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    place-items: left;
    background-size: cover;
    background-position: center;
    /* width: 720px;
    height: 324px; */
    background-image: url(../img/gallery-2.jpg);
}
.gallery .content-gallery .travel{
    grid-area: travel;
    /* width: 482px; */
    width: 100%;

    height: 324px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    place-items: left;
    background-size: cover;
    background-position: center;
    /* width: 720px;
    height: 324px; */
    background-image: url(../img/gallery-3.jpg);
}
.gallery .content-gallery .product{
    grid-area: product;
    /* width: 600px; */
    width: 100%;

    height: 324px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    place-items: left;
    background-size: cover;
    background-position: center;
    /* width: 720px;
    height: 324px; */
    background-image: url(../img/gallery-4.jpg);
}

.gallery .content-gallery .box{
    position: relative;
    overflow: hidden;
    cursor: pointer;
}
.gallery .content-gallery .box .title{
    transform: translateX(-100%);
    background-color: rgba(0, 0, 0, 0.438);
    padding: 10px 60px 5px 10px;
    z-index: 9999;
    transition: linear .5s;
}

.gallery .content-gallery .box::before{
    content: "";
    width: 100%;
    height: 100%;
    background-color: rgba(17, 17, 17, 0.438);
    position: absolute;
}

.gallery .content-gallery .box span{
    font-size: 30px;
    padding: 20px;
    color: #fff;
    cursor: pointer;
    transition: 1s;
    z-index: 999;
}

.gallery .content-gallery .box:hover .title{
    transform: translateX(0);
}
.gallery .btn{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
}

.gallery .btn a{
    background-color: #ffa206;
    padding: 14px 30px;
    color: #fff;
    text-decoration: none;
    font-size: 1.3em;
    font-weight: 500;
    outline: none;
    transition:1.4s;
}

.gallery .btn a:hover{
    background-color: #aa6c01;
}


.offer .container .img-content .img-box{
    position: relative;
    width: 100%;
    height: 600px;
    margin-top: 30px;
    overflow: hidden;
    background-position: center;
}

.offer .container .img-content .img-box img{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.offer .container .img-content .text-content{
    position: relative;
    display: flex;
    justify-content: space-around;
    text-align: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    transform: translateY(-40px);
}

.offer .container .img-content .text-content .box{
    width: 25%;
}

.offer .container .img-content .text-content .box img{
    width: 25%;
}
.offer .container .img-content .text-content .box h2{
    color: #ffa206;
    margin-top: 20px;
    margin-bottom: 10px;
    text-decoration: underline;
}

.offer .container .img-content .price{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.offer .container .img-content .price h2{
    color: #ffa206;
    text-decoration: underline;
}

.offer .container .img-content .price .btn{
    color: #fff;
    background-color: #ffa206;
    padding: 14px 30px;
    text-decoration: none;
    margin-top: 30px;
    transition: .8s;
}

.offer .container .img-content .price .btn:hover{
    background-color: #aa6c01;
}


.contact .container .content-contactUs{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.contact .container .content-contactUs .col-50{
    width: 48%;
}

.contact .container .content-contactUs .col-50 .inputBox{
    width: 100%;
    height: 100%;
    margin-bottom: 30px;
}
.contact .container .content-contactUs .col-50 .btn input[type="submit"]{
    color: #fff;
    background-color: #ffa206;
    padding: 14px 40px;
    outline: none;
    border: none;
    transition: .4s;
    font-size: 18px;
    font-weight: 600;
    font-family: "Cardo";
}

.contact .container .content-contactUs .col-50 .btn input[type="submit"]:hover{
    background-color: #aa6c01;
}


.contact .container .content-contactUs .col-50 .inputBox input:focus{
    border-bottom: 1px solid #fff;
}

.contact .container .content-contactUs .col-50 .inputBox input,
.contact .container .content-contactUs .col-50 .inputBox textarea
{
    width: 100%;
    border: none;
    background-color: transparent;
    border-bottom: 1px solid #484848;
    letter-spacing: 1px;
    outline: none;
    font-size: 24px;
    text-transform: capitalize;
    padding: 10px 10px;
    color: #fff;
}

.contact .container .content-contactUs .col-50 .inputBox textarea{
    resize: none;
    margin-top: 30px;
    padding: 10px 10px;
    width: 100%;
    height: 180px;
    font-family: 'Roboto';
}

.contact .container .content-contactUs .col-50 .maps-box{
    position: relative;
    width: 100%;
    height: 100%;
}
footer{
    background-color: #1D1010;
}

footer .container{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

footer .container .left{
    width: 30%;
}

footer .container .left .logo{
    margin-bottom: 14px;
    font-size: 1.8em;
    color: #ffa206;
}

footer .container .middle{
    width: 30%;
    color: #fff;
}

footer .container .middle ul{
    margin-top: 20px;
}

footer .container .middle ul li{
    list-style: none;
    margin-bottom: 14px;
    align-items: center;
    color: #b1b1b1;
}

footer .container .middle ul li i{
    color: #ffa206;
    margin-right: 5px;
}
footer .container .right{
    width: 15%;
    color: #fff;
}

footer .container .right ul{
    margin-top: 20px;
}

footer .container .right ul li{
    list-style: none;
    margin-bottom: 14px;;
}
footer .container .right ul li a{
    text-transform: capitalize;
    color: #aa6c01;
}

footer .copyright{
    border-top: 1px solid #484848;
    margin-top: 100px;
    padding: 10px 0;
}

footer .copyright span{
    color: #ffa206;
}

@media screen and (max-width : 991px){

    section,
    footer{
        padding: 10px 50px;
    }

    header {
        padding: 10px 50px;
        z-index: 999999;
    }

     header nav ul {
         opacity: .6;
         display: flex;
         text-align: right;
         transition: linear .5s;
         flex-direction: column;
         width: 60%;
         height: 100vh;
         top: 0;
         right: 0;
         margin: 0 auto;
         position: fixed;
         background-color: #000;
         justify-content: space-evenly;
         align-items: center;
         transform: translateX(100%);
     }

    header nav .menu-toggle{
        display: block;
        position: relative;
        background-position: center;
        background-image:url(../img/bar.svg);
        width: 30px;
        height: 30px;
        transition: linear .3s;
        background-repeat: no-repeat;
    }
    header nav .menu-toggle.active{
        display: block;
        position: relative;
        background-position: center;
        background-image:url(../img/bar-1.svg);
        width: 30px;
        height: 30px;
        background-repeat: no-repeat;
    }

    header nav ul.active{
        display: flex;
        opacity: 1;
        text-align: right;
        transition: linear .5s;
        flex-direction: column;
        width: 60%;
        height: 100vh;
        top: 0;
        margin: 0 auto;
        position: fixed;
        background-color: #000;
        justify-content: space-evenly;
        align-items: center;
        transform: translateX(0%);
    }

    .banner .content {
        width: 100%;
    }

    .banner .content h1{
        font-size: 2.5em;
        line-height: 40px;
    }

    .banner .content p {
        padding: 0 10px;
    }

    .title-text h3 {
        font-size: 2.7em;
        background-color: #000;
        z-index: 99999;
        padding: 10px;
    }
    .title-text span{
        background-color: #000;
        z-index: 99999;
        padding: 10px;
        width: 100%;
    }

    .about .content-about {
        flex-direction: column;
        margin-bottom: 60px;
    }

    .about .content-about .col-50 {
        width: 100%;
    }
    .about .content-about .col-50 .p-1:nth-child(2) {
        margin-top: 100px;
    }

    .about .content-about .col-50 .img-box {
        height: 300px;
        margin-bottom: 20px;
    }
    hr{
        margin: 20px;
    }

    .gallery .content-gallery {
        grid-template-areas:
            "wedding"
            "model"
            "travel"
            "product";
        grid-template-columns: 1fr;
        grid-template-rows: 1fr .5fr .5fr .5fr;
    }

    .gallery .content-gallery .box .title {
        transform: translateX(0);
        background-color: transparent;
        z-index: 9999;
        transition: linear .5s;
    }

    .offer .container .img-content .img-box {
        height: 300px;
    }

    .offer .container .img-content .text-content {
        flex-direction: column;
    }

    .offer .container .img-content .text-content .box {
        width: 100%;
        margin-bottom: 20px;
    }
    .offer .container .img-content .text-content .box img {
        width: 20%;
    }

    .contact .container .content-contactUs {
        flex-direction: column-reverse;
    }

    .contact .container .content-contactUs .col-50 {
        width: 100%;
        margin-bottom: 30px;
    }

    .contact .container .content-contactUs .col-50 .maps-box {
        height: 400px;
        position: relative;
    }

    .contact .container .content-contactUs .col-50 .maps-box iframe {
        width: 100%;
        height: 100%;
        position: absolute;
    }

    footer .container {
        flex-direction: column;
    }
    footer .container .left,
    footer .container .middle,
    footer .container .right
    {
        width: 100%;
        margin-bottom: 20px;
    }

    footer .copyright {
        margin-top: 30px;
    }



}